# =============== #
# No Build folder #
# =============== #
build/
gi/tests
gi/Debug

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
